.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  height: calc(100vh - 25px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 200px;
  height: 200px;
}